.search-toggle{
  cursor: pointer;
  display: inline-block;
  .search-icon {
    transition: all .125s ease-in-out;
    transform-origin: center;
  }
  .close-icon {
    visibility: hidden;
    opacity: 0;
    transform: scale(.5);
    transition: all .125s ease-in-out;
    transform-origin: center;
  }
}

input[type="checkbox"] {
  display: none;
  &:checked {
   + svg > g.search-icon {
      visibility: hidden;
      opacity: 0;
      transform: scale(.5);
    }
   + svg > g.close-icon {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }
}
