/* Css Bar Onesignal */
#onesignal-slidedown-allow-button{background-color:#4080ff!important}
#onesignal-slidedown-container #onesignal-slidedown-dialog .primary.slidedown-button+.secondary.slidedown-button{color: #4080ff!important;background-color:transparent!important;direction: ltr !important;}
/*Stick Ad*/   
.stickAd{position:fixed;bottom:0;left:0;right:0;width:100%;min-height:70px;max-height:200px;padding:5px 5px;box-shadow:0 -6px 18px 0 rgba(9,32,76,.1); transition:var(--transition-1);display:flex;align-items:center;justify-content:center;background-color:#fefefe;z-index:50;border-top:1px solid var(--content-border)} .stickAdclose{width:40px;height:30px;display:flex;align-items:center;justify-content:center;border-radius:12px 0 0;border:1px solid var(--content-border);border-bottom:0;border-right:0;position:absolute;right:0;top:-30px;background-color:inherit} .stickAdclose svg{width:18px;height:18px} .stickAdcontent{flex-grow:1;overflow:hidden;display:block;position:relative} .stickAdin:checked ~ .stickAd{padding:0;min-height:0} .stickAdin:checked ~ .stickAd .stickAdcontent{display:none} .darkMode .stickAd{background-color:var(--dark-bgAlt)} .darkMode .stickAd, .darkMode .stickAdclose{border-color:rgba(255,255,255,.1)}.stickAdin:checked ~ .stickAd .stickAdclose svg{-webkit-transform:rotate(180deg);transform: rotate(180deg)}
  
/*Cadre ADS*/   
.card {
    border: 0;
    margin-bottom: 0px;
    border-radius: 6px;
    color: #000;
    background: #e0e0e0;
    width: 100%;
    font-size: 11px;
    opacity: 0.7;
    margin-top: 8px;
}
  
/*Cadre ADS 2*/
.card2 {
	border: 0;
	margin-bottom: 0px;
	margin-top: -7px;
	border-radius: 6px;
	color: #333;
	background: #e0e0e0;
	width: 100%;
	font-size: 13px;
	display: block;
	padding-top: 9px;
    opacity: 0.7;
}
  
/* Ads Post body */
.FreeFireparalax{position:relative;display:block;overflow:visible;width:100%;height:0;margin:auto;text-align:center;z-index:1}
.FreeFireparalax &gt; div{overflow:hidden;width:100%;height:100%;margin:0;position:absolute;top:0;left:0;clip:rect(auto auto auto auto)}
.FreeFireparalax &gt; div &gt; div{width:calc(100% - 40px);height:100%;position:fixed;top:0;left:0;right:0;margin:0 auto;-moz-transform:translateZ(0);-webkit-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0)}
.FreeFireparalax &gt; div &gt; div &gt; div{margin-top: -72px;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-align-content:center;align-content:center;-webkit-align-items:center;-ms-flex-align:center;width:100%;height:100%;position:absolute;left:0;right:0;top:37px;align-items:center;background:#fff}
.FreeFireparalax &gt; div &gt; div &gt; div &gt; *{margin:auto}
.FreeFireparalax &gt; div &gt; div &gt; div &gt; a{width:100%;height:100%}
.FreeFireparalax img,.FreeFireparalax iframe,.FreeFireparalax ins{height:100%;border:0}
.clear{clear:both;display:block}
.FreeFireparalax{width:100%;min-width:300px;min-height:600px;text-align:center}
.adParallax{width:100%;min-width:300px;min-height:600px;text-align:center;display:block; margin:10px 0px; padding:0px;}
  
/* Animation CopyLink */
@-webkit-keyframes slidein{0%{opacity:0}20%{opacity:1;bottom:0}50%{opacity:1;bottom:0}80%{opacity:1;bottom:0}100%{opacity:0;bottom:-200px}}
@keyframes slidein{0%{opacity:0}20%{opacity:1;bottom:0}50%{opacity:1;bottom:0}80%{opacity:1;bottom:0}100%{opacity:0;bottom:-200px}}
@-webkit-keyframes nudge{0%{transform:translateX(0)}30%{transform:translateX(-5px)}50%{transform:translateX(5px)}70%{transform:translateX(-2px)}100%{transform:translateX(0)}}
@keyframes nudge{0%{transform:translateX(0)}30%{transform:translateX(-5px)}50%{transform:translateX(5px)}70%{transform:translateX(-2px)}100%{transform:translateX(0)}}
/* Hide webkit */  
::-webkit-scrollbar{width:0px;height:0px;background:#fff;}
::-webkit-scrollbar-thumb{background:#ec3e4e;}
/* Share Notif */   
.share-notif {
	display: flex;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin-bottom: 25px
}
.share-notif span {
    position: relative;
    bottom: -200px;
    display: block;
    width: 240px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 6px;
    color: #000;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    opacity: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -webkit-animation: slidein 2s ease forwards;
    animation: slidein 2s ease forwards;
    background-color: rgb(200 247 220 / 43%);
    right: 510px;
}
  
 .Blog article.post .post-share li.share-close &gt; .close-1{visibility:visible;margin-top:10px}
.Blog article.post .post-share li.share-close &gt; .close-1{visibility:hidden;margin-top:0} 
  
  
  svg#copylink2 {
    color: black;
}
  svg#CommentsPost {
    opacity: .6;
}
/* -- Effect button -- */
.ripple{overflow:hidden;transform:translate3d(0,0,0)}
.ripple:after{content:&quot;&quot;;display:block;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background-image:radial-gradient(circle,#171544 10%,transparent 10.01%);background-repeat:no-repeat;background-position:50%;transform:scale(10,10);opacity:0;transition:transform .5s,opacity 1s}
.ripple:active:after{transform:scale(0,0);opacity:.2;transition:0s}
.notifier{padding:5px 10px;color:#fff;background:#fe7777;border-radius: 3px;font-size: 12px;} 

/*== Back Top  ==*/  
.scrollToTop {
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.scrollToTop svg {
    display: block;
}
.scrollToTop {
    position: fixed;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, background 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s, background 0.3s;
    transition: transform 0.3s, opacity 0.3s, background 0.3s,
        -webkit-transform 0.3s;
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
}
.scrollToTop.visible {
    pointer-events: all;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.scrollToTop svg {
    stroke: #1967d2 !important;
}

.scrollToTop {
    bottom: 1em;
    right: 1em;
    padding: 0.5em;
    border-radius: 8px;
    background-color: rgba(66,133,244,0.149);
    border-radius: 3px;
    color: #1967d2 !important;
    box-shadow: 8px 8px 30px 0px rgb(42 67 113 / 15%);
    -webkit-box-shadow: 8px 8px 30px 0px rgb(42 67 113 / 15%);
    -moz-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
}
  
.scrollToTop:hover {
    background-color: #1967d2;
}

.scrollToTop svg:hover {
    stroke: #fff !important;
}  
@media screen and (max-width:480px){
  
  .scrollToTop {display:none!Important}
  
  #relatedPost-Icon svg {
    left: -160px !Important;
}
  .share-notif span {
  background-color: rgb(200 247 220 / 83%);
    right: 70px;
}
  
  }  
  
svg {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}  
a.g-profile {
    margin-right: 5px;
}
  ::-webkit-input-placeholder {
    color: #bcbdbd !important;
    font-size: 15px;
}
  #blog-pager-newer-link {
    display: none;
}
  #blog-pager-older-link {
    display: none;
}  
a.related-post-item-title:hover {
    color: #4d90fe !important;
    text-decoration: none !important;
} 
  

.share-icon.shareThis:before {
    content: &#39;4K+&#39;;
    position: relative;
    top: 7px;
    left: -20px;
    padding: 0 6px;
    border-radius: 10px;
    font-size: 11px;
    z-index: 1;
    opacity: 1;
    background-color: #9491913b;
    color: #000000;
    display: block;
    margin-top: -22px;
    width: 33px;
}
  
/*== Effect related-post ==*/
li.related-post-item:hover {-webkit-transition:all .2s ease-out;transition:all .2s ease-out;}
li.related-post-item:hover:hover{-webkit-transform: scale(1.04);transform: scale(1.04);}
li.related-post-item:hover img{-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;transition:all 1s ease}
img.related-post-item-thumbnail:hover {-webkit-filter: grayscale(100%);}
.related-post-style-3 .related-post-item-title:hover {text-decoration: none !important;}
.line-height-8 {line-height: 0 !important;}
  
.index article.post.hentry {
	-webkit-transition: all .2s ease-out !important;
	transition: all .2s ease-out !important;
}
.index article.post.hentry:hover {
	-webkit-transform: scale(1.04) !important;
	transform: scale(1.04) !important;
}
.index article.post.hentry img {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease
}
.index article.post.hentry:hover {
	-webkit-filter: grayscale(100%)
}
  
  
/* Floating Wrapper CSS */
.float_wrapper{position:sticky !important;left:0;top:0;right:0;transition:all .3s ease-out;-webkit-transform:translateZ(0);transform:translateZ(0);z-index:48 !important;}.scroll{top:-105px !important;}.no-scroll{top:0 !important;z-index:48 !important}
/* Navigation_bar */
/*========== GOOGLE FONTS ==========*/
.bx-x:before {
  display: none !important;
}
/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 3.5rem;
  --navbar-width: 219px;

  /*========== Colors ==========*/
  --first-color: #6923D0;
  --first-color-light: rgba(66,133,244,0.149);
  --title-color: #19181B;
  --text-color: #58555E;
  --text-color-light: #A5A1AA;
  --body-color: #fefefe;
  --container-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: &#39;Poppins&#39;, sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 80;
}
a.navbar__dropdown-item {
    color: #1967d2 !important;
}
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  padding: 1rem 1rem 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

/*========== HEADER ==========*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}

.header__container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
      flex-direction: row-reverse;
}

.header__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: none;
}

.header__search {
  display: flex;
  padding: .40rem .75rem;
  background-color: var(--first-color-light);
  border-radius: .25rem;
}

.header__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--first-color-light);
}

.header__input::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__icon, 
.header__toggle {
  font-size: 1.2rem;
}

.header__toggle {
  color: var(--title-color);
}

/*========== navbar ==========*/
.navbar {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  padding: 1rem 1rem 0;
  background-color: var(--container-color);
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  transition: .4s;
  box-shadow: 8px 8px 30px 0px rgb(42 67 113 / 4%);
    -webkit-box-shadow: 8px 8px 30px 0px rgb(42 67 113 / 4%);
    -moz-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15)
}

.navbar__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  overflow: auto;
  scrollbar-width: none; /* For mozilla */
}

/* For Google Chrome and others */
.navbar__container::-webkit-scrollbar {
  display: none;
}

.navbar__logo {
  width: max-content;
  margin-bottom: 2.5rem;
}

.navbar__list, 
.navbar__items {
  display: grid;
}

.navbar__list {
  row-gap: 2.5rem;
}

.navbar__items {
  row-gap: 1.5rem;
}

.navbar__subtitle {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--text-color-light);
}

.navbar__link {
  display: flex;
  align-items: center;
  color: var(--text-color) !important
}

.navbar__link:hover {
  color: var(--first-color);
}

svg.navbar__icon {
      width: 1.2rem !important;
    margin-left: .5rem;
    height: -webkit-fill-available !important;
  
}
  
  .navbar:after {
    content: &#39;&#39;;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 170px;
    border-radius: 0 0 200px 0;
    background: rgba(0,0,0,.02);
    z-index: -1;
    opacity: .8;
}
  
svg.HideNav {
    width: 1.3rem !important;
}
.navbar__name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
}
svg.bx.bxs-disc.navbar__icon {
    width: 1.2rem;
}
.navbar__logout {
  margin-bottom: 2rem;
  width: min-content;
}

/* Dropdown */
.navbar__dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: .4s ease-in-out;
  width: -webkit-fill-available !important;
}

.navbar__dropdown-collapse {
  background-color: var(--first-color-light);
  border-radius: .25rem;
  margin-top: 1rem;
}

.navbar__dropdown-content {
  display: grid;
  row-gap: .5rem;
  padding: .75rem 2.5rem .75rem 1.6rem;
}

.navbar__dropdown-item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.navbar__dropdown-item:hover {
  color: var(--first-color);
}

.navbar__dropdown-icon {
  margin-left: auto;
  transition: .4s;
}

/* Show dropdown collapse */
.navbar__dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.navbar__dropdown:hover .navbar__dropdown-icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
  right : 0;
}

/*===== Active link =====*/
.active {
  color: var(--first-color);
}

/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
@media screen and (max-width: 320px) {
  .header__search {
    width: 70%;
  }
}

@media (min-width: 1180px) and (max-width: 1920px){.search-form{left:-75px}}  
  
@media (min-width: 1100px) and (max-width: 1920px) {
  body {
    padding: 1rem 3rem 0 6rem;
  }
  
      
  
  .navbar {
    z-index: 8;

}
  
  a.navbar__link.navbar__logo {
    margin-top: 60px;
}
   .header .header-back {
    left: 90px !important;

}
  .header {
    padding: 0 3rem 0 6rem;
  }
  .header__container {
    height: calc(var(--header-height) + .5rem);
  }
  
  .navbar__dropdown-content {
    padding: .75rem 2.5rem .75rem 1rem;
}
  
  .header__search {
    width: 300px;
    padding: .55rem .75rem;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    display: block;
  }
  .header__img {
    width: 40px;
    height: 40px;
    order: 1;
  }
  .navbar {
    right: 0;
    padding: 1.2rem 1.5rem 0;
    width: 68px; /* Reduced navbarbar */
  }
  .navbar__items {
    row-gap: 1.7rem;
  }
  svg.navbar__icon {
    width: 1.3rem;
  height: -webkit-fill-available !important;
  }

  /* Element opacity */
  .navbar__logo-name, 
  .navbar__name, 
  .navbar__subtitle, 
  .navbar__dropdown-icon {
    opacity: 0;
    transition: .3s;
  }
  
  
  /* navbarbar expanded */
  .navbar:hover {
    width: var(--navbar-width);
  }
  
  /* Visible elements */
  .navbar:hover .navbar__logo-name {
    opacity: 1;
  }
  .navbar:hover .navbar__subtitle {
    opacity: 1;
  }
  .navbar:hover .navbar__name {
    opacity: 1;
  }
  .navbar:hover .navbar__dropdown-icon {
    opacity: 1;
  }
}
.HideNavigation{display:block;position:fixed;top:0;left:0;width:100%;height:100%;z-index:49;-webkit-transition:all .2s ease-in;transition:all .2s ease-in;background:transparent;opacity:0;visibility:hidden}.HideNavigation.show-menu {
    opacity: 1;
    visibility: visible;
    background: rgb(0 0 0 / 43%);
    backdrop-filter: blur(5px);
}  

*,
*::before,
*::after {
	box-sizing: border-box
}
body .footer {
	margin-top: auto
}
a,
a:link {
	color: #212529;
	text-decoration: none;
	transition: 0.3s linear
}
a:hover {
	color: #0a0c0e
}
a:focus {
	outline: none
}
img.brand-logo {
	width: 35px !important;
	height: 35px !important
}
.header {
	box-shadow: 0 2px 10px 0 rgb(0 0 0 / 7%)
}
a.header-nav-link.ripple.ripple-dark:hover {
	background-color: whitesmoke
}
li.header-nav-item {
	padding-left: 5px
}
span.brand-text {
	color: #666;
	margin-top: 5px;
	font-size: 18px;
	font-weight: 500;
	font-family: Lato, sans-serif !important
}
path#searchbox {
	fill: #666
}
path#SearchBox {
	fill: #666
}
.header-logo .header-brand {
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-weight: 600
}
.header-logo .header-brand:hover {
	text-decoration: none
}
.header-logo .header-brand .brand-logo {
	margin-right: 1rem;
	border-radius: 50%
}
.header-logo .header-brand .brand-text {
	margin-right: 1rem;
	display: none
}
@media screen and (min-width: 600px) {
	.header-logo .header-brand .brand-text {
		display: inline-block
	}
}
.header-nav {
	display: flex;
	margin: 0 auto
}
.header-nav .nav {
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center
}
@media screen and (min-width: 992px) {
	.header-nav .nav {
		display: flex
	}
}
.header-nav .header-nav-item {
	display: inline-block
}
.header-nav .header-nav-link {
	color: #0a0c0e;
	display: block;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.875rem;
	padding: 0.7rem 0.89rem;
	border-radius: .6rem
}
.header-nav .header-nav-link.active {
	background: rgba(227, 227, 227, 0.361);
	color: #0a0c0e
}
.header-profile {
	display: flex;
	align-items: center;
	margin-left: auto;
	gap: 0.4rem
}
.header-profile .hader-profile-links {
	display: inline-flex
}
.header-profile .avatar {
	border-radius: 50%
}
.header-search-content {
	margin: auto
}
.header-search-input {
	width: 100%;
	height: 2.75rem;
	border-radius: .5rem;
	background: #e4e6e7;
	border: 0;
	box-sizing: border-box;
	padding: 0.4rem 1.4rem 0.4rem 4.6rem;
	font-size: 1.0625rem;
	font-weight: 500;
	background-color: rgba(236, 239, 241, .8)
}
.header-search-input:focus {
	outline: 0;
	background-color: white;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	border-color: #000
}
.search-form {
	position: relative;
	transition: all 0.3s ease-in-out;
	margin-right: 0.5rem
}
.search-form .header-search-input {
	width: 100%
}
.search-form .search-icon {
	position: absolute;
	top: 0.5rem;
	left: 1rem
}
.header .header-back {
	opacity: 0;
	position: absolute;
	left: 10px;
	display: none;
}
.header .header-back .icon-back {
	transform: rotate(90deg)
}
.header.show .header-logo,
.header.show .header-nav,
.header.show .header-profile {
	display: none
}
.header.show .header-search-content {
	width: 100%;
	text-align: center
}
@media screen and (min-width: 768px) {
	.header.show .header-search-content {
		width: 50%
	}
}
.header.show .header-search-content .search-form {
	width: 80%;
	margin-left: 14%
}
@media screen and (min-width: 768px) {
	.header.show .header-search-content .search-form {
		width: 80%
	}
}
.header.show .header-back {
	opacity: 100;
	display: block;
}
.header.show .header-back .icon-back {
	transform: rotate(0deg);
	transition: transform 0.5s cubic-bezier(0.42, 0, 0, 0.57)
}
.over-search {
	position: fixed;
	z-index: 10;
	background-color: #fff;
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: all 0.3s;
	display: none
}
.over-search.show {
    display: block;
    opacity: .8;
    background: rgb(0 0 0 / 50%) !important;
    backdrop-filter: blur(5px);
}
.ripple-container {
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	pointer-events: none;
	overflow: hidden
}
.ripple-effect {
	margin-top: 0px;
	margin-left: 0px;
	width: 1px;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.033);
	transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	border-radius: 50%;
	pointer-events: none
}
.ripple-effect.ripple-light {
	background-color: rgba(255, 255, 255, 0.15)
}
.ripple-effect.ripple-dark {
	background-color: rgba(0, 0, 0, 0.103)
}
.ripple-grow {
	display: inline-flex;
	justify-content: center;
	align-items: center
}
.ripple-grow .ripple-waves {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: #495057;
	outline: none;
	border-radius: 50%;
	transition: all 0.3s ease-in-out
}
.ripple-grow .ripple-waves::before {
	content: &quot;&quot;;
	border-radius: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: absolute;
	transform: scale(0);
	transition: all 0.3s ease-in-out;
	opacity: 0
}
.ripple-waves {
	width: 2.75rem;
	height: 2.75rem
}
.ripple-waves .ripple-icon {
	width: 1.5277777778rem;
	height: 1.5277777778rem
}
.ripple-grow:hover .ripple-waves::before {
	background-color: rgba(33, 37, 41, 0.8);
	opacity: 0.1;
	animation: ripple-grow 0.3s linear;
	transform: scale(1)
}
.ripple-grow:hover .ripple-icon {
	color: #0a0c0e
}
.ripple-grow:focus .ripple-waves::before,
.ripple-grow:active .ripple-waves::before,
.ripple-grow.active .ripple-waves::before {
	background-color: rgba(33, 37, 41, 0.6);
	opacity: 0.2;
	animation: ripple-grow 0.3s linear;
	transform: scale(1)
}
@keyframes ripple-grow {
	0% {
		transform: scale(0);
		opacity: 0
	}
	100% {
		opacity: 0.1;
		transform: scale(1)
	}
}
.footer {
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}
.footer p {
	margin: 0;
	color: #777
}
.footer .yo-content {
	margin-bottom: 0.3rem;
	font-weight: 500;
	color: #000
}
.footer .yo {
	text-decoration: underline
}
.footer .footer-social {
	display: flex;
	align-items: center
}
.footer .footer-social-link {
	width: 2.8rem;
	height: 2.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4rem;
	transition: 0.3s linear
}
.footer .footer-social-link:hover {
	background-color: #ececec
}
img#Header1_headerimg {
    max-width: max-content;
    height: 50px !important;
    box-shadow: 0 10px 20px 0 rgb(30 30 30 / 4%);
    border-radius: 90px;
}
   
div#header-logo {
	margin-right: -25px;
}

/* Share Button */    
.post-share{position:relative;display:flex;flex-wrap:nowrap;margin:10px 0 5px;padding:20px 40px;font-size:13px;line-height:22px;}
.post-share .hidden{display:none}
.post-share:before{display:none;content:attr(data-share);width:100%;margin-bottom:20px;font-size:14px}
.post-share .share-icon{flex-grow:1}
.post-share .share-icon:not(:first-child){margin-right:10px}
.post-share .share-icon &gt; *{display:flex;align-items:center;padding: 10px;border-radius:0px;background-color:#f2f2f2;color:inherit}
.post-share .share-icon &gt; a{color:#fefefe}
.post-share .share-icon &gt; a svg{fill:#fefefe}
.post-share .share-icon svg{width:20px;fill:var(--warna-teks-alternatif)}
  
.post-share .facebookThis a {
    color: #1873eb;
    background-color: #4381f35c;
    border-radius: 5px;
}
  svg#fbShare {
    fill: #4381f3;
}
  
li.share-close:before {
    content: &#39;إغلاق&#39;;
    opacity: .7;
    padding: 0 8px;
    top: 9.2px;
    position: absolute;
    right: 28px;
    font-size: 11px;
    color: #000000;
}
  
.post-share .facebookThis a:after{content:&#39;Share on Facebook&#39;;margin-right:15px}
.post-share .twitterThis a {
    color: #1c9ceb;
    background-color: rgb(29 161 242 / 18%);
  border-radius: 5px;
}
  
.post-share .twitterThis a:after{content:&#39;Share on Twitter&#39;;margin-right:15px}
.post-share .whatsappThis a {
    background-color: #25d36640;
    color: #25D366;
  border-radius: 5px;
}
  
  svg#whatShare {
    fill: #25D366;
}
  svg#twiShare {
    fill: #55acef;
}
.post-share .whatsappThis a:after{content:&#39;Share on Whatsapp&#39;;margin-right:15px}
.post-share .shareThis{flex-grow:0}
.post-share .share-popup{position:fixed;top:0;right:0;width:100%;height:100%;display:flex;align-items:center;z-index:50;-webkit-transition:all .2s ease;transition:all .2s ease;opacity:0;visibility:hidden}
.post-share .share-check:checked + .share-popup{opacity:1;visibility:visible}
.post-share .share-check:checked + .share-popup ul{margin:0 auto}
.post-share ul{position:relative;display:flex;flex-wrap:wrap;width:95%;max-width:500px;list-style:none;margin:0 auto -50%;padding:20px 20px 15px;background-color:#fefefe;z-index:3;flex-direction: row-reverse;border-top-left-radius: 8px;border-top-right-radius: 8px;-webkit-transition:all .2s ease;transition:all .2s ease}
  

.post-share ul:before {
    content: &#39;المشاركة تعنى الاهتمام!&#39;;
    display: block;
    width: 100%;
    margin: 0 0 15px;
    font-size: 14px;
    text-align: center;
    background-color: #357ae826;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 2px;
    padding: 8px;
}
  
  
.post-share li{position:relative;width:calc(25% - 15px);margin-left:20px}
  
.post-share li:nth-of-type(4n){margin-left:0}
.post-share li &gt; *{display:block;margin:8px 0;text-align:center;color:inherit}
.post-share li &gt; * span{display:block;margin:5px 0 0;font-size:12px}
.post-share li &gt; * svg{width:44px;height:44px;fill:var(--warna-teks-alternatif);padding:12px;background-color:#f2f2f2;border-radius:12px}
.post-share li &gt; * svg.line{fill:none;stroke:var(--warna-teks-alternatif);padding:11px}
.post-share li input{margin:0;padding:0;outline:0;border:0;width:1px;height:0;opacity:0}
.post-share li.share-close{position:initial;width:100%;margin:0;z-index:2}

  
.post-share li.share-close &gt; .close-2 {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-top: 0;
}
  
.post-share li a {
    color: black;
}
  
  
.post-share li.share-close &gt; * {
    position: absolute;
    top: 8px;
    right: 10px;
    margin-top: 0;
}
  
.post-share li.share-close &gt; * svg {
    display: block;
    width: 25px;
    height: 25px;
    padding: 0;
    background: transparent;
    stroke: #1967d2;
    background-color: rgba(66,133,244,0.149);
      box-shadow: 0 10px 20px 0 rgb(30 30 30 / 5%);
}
  
.post-share .share-check:checked + .share-popup .full-close {
    border-radius: 0px !important;
    background: rgba(0,0,0,.5);
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(5px);
}

.Blog article.post .post-share .share-check:checked + .share-popup {
    opacity: 1;
    visibility: visible;
}

.full-close {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: transparent;
    opacity: 0;
    visibility: hidden;
}

.Blog article.post .post-share .share-popup {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 50;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    opacity: 0;
    visibility: hidden;
}  
  
/* Responsive */
@media screen and (max-width:768px){
#primarypix,#secondarypix{margin-top:px;}
.banner,.banner2{margin:0px auto 20px auto;}
.post-outer {background-color:#fff;margin:0px 0px 20px 0px !important;padding:0px !important;}
.post-share {padding:0 20px;}
.post-share .twitterThis{display:none}
.post-share .facebookThis a:after{content:&#39;Facebook&#39;}
.post-share .whatsappThis a:after{content:&#39;Whatsapp&#39;}
.post-share .share-popup{align-items:flex-end;z-index:60}
.post-share .share-check:checked + .share-popup ul{margin:0 auto 0}
  

  
  
  li.share-close:before {
    content: &#39;إغلاق&#39;;
    opacity: .7;
    padding: 0 8px;
    top: 9.2px;
    position: absolute;
    right: 31px;
    font-size: 11px;
    color: #000000;
}
  
.post-share li.share-close &gt; .close-2{display:none}
  
@media screen and (max-width: 480px) {
.post-share {
    padding: 0 10px;
}  
}  

 span77 {
    margin-left: 7px;
}
  span.eta {
    float: left;
    margin-right: -3px;
}
h44 {
    font-size: 14px;
    color: #006cff;
}
.lbl-liss {
    margin-bottom: -80px;
} 
h1.post-title.entry-title {
    font-size: 25px !important;
    margin-top: -45px;
}     

 /* Widget Icon SVG */  
#Widget-Icon svg{height:22px;width:22px;fill:#2b2b2b;position:absolute;margin:0 auto;margin-top:-34px;right:0;left:117px}
    
#relatedPost-Icon svg {
    height: 23px;
    width: 23px;
    color: #4d90fe;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: -173px;
}
    
   /* ==== Related Post Widget Start ==== */ 
.related-post{width:100%;margin:0 auto;-moz-box-sizing:border-box;box-sizing:border-box;clear:both;background-color:#fafafb;padding:10px;margin-bottom:5px;box-shadow:8px 8px 30px 0px rgb(42 67 113 / 15%);-webkit-box-shadow:8px 8px 30px 0px rgb(42 67 113 / 15%);-moz-box-shadow:8px 8px 30px 0px rgba(42, 67, 113, 0.15);border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;overflow:hidden}  
.related-post h4{list-style:outside none none;margin:0 0 16px !important;overflow:hidden;font-size:15px;text-align:center;background-color:rgba(236,239,241,.8);border:0;padding:12px 20px 12px 15px;border-radius:5px}
.related-post h4 span{color:#4c4c4c;display:block;width:90%;position:relative;overflow:hidden;font-weight:700}
.related-post h4 span:after,.related-post h4 span:before{background:#ddd;content:&quot;&quot;;display:block;height:0px;position:absolute;top:50%;width:500%;border-bottom:1px solid #fff;}h4 span:before{right:100%}h4 span:after{left:100%}.h4 span{overflow:hidden;text-align:center}
.related-post a{font-size:16px;color: #333 !important}
.post-buzz {margin-left: -103px;margin-bottom: -29px;fill: #fff;} 
/* Style 3 */
.related-post ul{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;counter-reset:san}
    
.related-post-style-3 .related-post-item {
    display: block;
    float: left;
    width: 21.3%;
    height: auto;
    margin: 0 1% 11px;
    padding: 5px 5px 16px;
    -webkit-box-sizing: unset !important;
    background-color: #ffffff00;
}
    
.related-post-style-3 .related-post-item:nth-of-type(4n+1){clear:both}
.related-post-item-titleimg{position:relative;display:block;height:0;border-radius: 4px;margin-bottom:10px;overflow:hidden;padding-top:70%}
.related-post-style-3 .related-post-item-thumbnail{position:absolute;top:0;left:0;display:block;margin:0;width:100%;height:auto;max-width:none;min-height:100%;background-color:transparent;border:none;padding:0;}
.related-post-style-3 .related-post-item-tooltip{overflow: hidden;position: relative;max-height: 60px;line-height: initial;}
.related-post-style-3 .related-post-item-tooltip:after{display:block;content:&#39;\B7\B7\B7&#39;;width:100%;height:22px;background:#fff;top:59px;position:absolute;color:#333}
.related-post-style-3 .related-post-item-title{font-weight:700;font-size:12px;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}.related-post .related-post-style-1{margin-bottom:20px}
.related-post .related-post-style-1 li{margin-left:20px;padding:5px 5px 10px;position:relative;text-align:left;list-style:square;}
.related-post-style-1 li a{font-size:16px;color:#e74c3c}
.related-post a:hover{color:#000;text-decoration:underline}  
     
@media screen and (max-width:600px){.related-post-style-3 .related-post-item{width:20.6%!important}}
@media screen and (max-width:480px){ 
.related-post-style-3{width:100%;}
.related-post-style-3 .related-post-item{width:44.6%!important}
.related-post-style-3 .related-post-item:nth-of-type(4n+1){clear:right}
.related-post-style-3 .related-post-item:nth-of-type(2n){margin-right:0px!important}
.related-post-style-3 .related-post-item:nth-of-type(2n+1){clear:both}
.footer-colomn,.row-menu,.row-social{width:100%;padding: 0;margin-right: 0}.f-text,.f-links{float:none;width:100%;text-align:center;margin:0;}
.Night .row-menu-links ul li {border-bottom: 1px solid #454546b3;}
.row-menu-links ul li{float:left;width:48%;margin:0 4% 0 0;border-bottom: 1px solid rgb(214 214 214);padding:15px 0;text-align:left}.row-menu-links{padding:0}.row-menu-links ul li:nth-of-type(even){margin-right:0}.f-text ul li{padding:10px 0;width:100%}
.iklan1{margin:5px auto;float:none;text-align:center}}
@media screen and (max-width:320px){
.row-menu-links {font-size: 13px;}
.related-post h4 span {width: 112%;}}

  
